# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
*.jks
*.keystore

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/

# Flutter/Dart
.dart_tool/
.packages
build/
# The pubspec.lock file is specific to the project and should be checked into
# version control. It specifies the exact versions of dependencies used in the
# application. This ensures that everyone working on the project has the same
# set of dependencies.
# pubspec.lock

# Android
*.apk
*.aab
/android/local.properties
/android/.gradle/
/android/app/build/
/android/build/

# iOS
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/App.framework
/ios/Flutter/engine.xcframework
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/Generated.xcconfig
/ios/Flutter/Debug.xcconfig
/ios/Flutter/Release.xcconfig
/ios/Runner/GeneratedPluginRegistrant.*
/ios/Runner.xcworkspace/

# Firebase cache and log files
.firebase
*.log
firebase-debug.log
