# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
build/
commit.template

# IntelliJ
.idea/
*.iml
*.ipr

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Web
.dart_tool/build/

# Node
/backend/article-service/node_modules
/backend/user-service/node_modules
/backend/business-service/node_modules
npm-debug.log
yarn-error.log
